/* Normalizing css */
* {
    padding: 0;
    margin: 0;
}

:root {
    --mainWhite: #FFFFFA;
    --mainDark: #333;
    --mainGreen: #08A045;
    --mainGreenLight: #4BB977;
    --mainBlue: #14A9BA;
    --Transparent: rgba(12, 188, 207, 0.534);
    --mainGrey: #b1a9a9;
    --mainYellow: #F3CA40;
    --mainBlack: #0e0d0d;
}

body {
    background: ivory;
    color: #0e0d0d;
    font-size: medium;
}

.banner {
    position: relative;
    min-height: calc(100vh - 90px);
    background: linear-gradient(to right bottom, rgba(41, 184, 56, 0.75),
            rgba(57, 175, 69, 0.75)),
        url('https://images.unsplash.com/photo-1488229297570-58520851e868?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1498&q=80')center/cover fixed no-repeat;


}

/* text-box style */
.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

/* button style */
.about-btn {
    color: #FFFFFF;
    background-color: #39af45bf;
    border: none;
    border-radius: 2px;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 200px;
    margin: 5px;
    text-transform: uppercase;
}

.about-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.about-btn span:after {
    position: absolute;
    content: '\203A';
    margin-top: -21px;
    font-size: 40px;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.about-btn:hover span {
    padding-right: 25px;
    color: black;
}

.about-btn:hover span:after {
    opacity: 1;
    right: 0;
    /* color: red; */
    color: black;
}

/* new-container style */
.new-container{
    height: 50vh;
    background-color: grey;
    margin-top: 10px;
}
.new-container h1{
    text-transform: capitalize;
    color: white;
    text-align: center;
    padding-top: 40px;
}
.new-container p{
    text-align: center;
    /* width: 500px; */
}
.new-container button{
    margin-left: 700px;
    padding: 7px 20px;
    text-transform: capitalize;
    border: none;
}