/* Normalizing css */
* {
    padding: 0;
    margin: 0;
}

:root {
    --mainWhite: #FFFFFA;
    --mainDark: #333;
    --mainGreen: #08A045;
    --mainGreenLight: #4BB977;
    --mainBlue: #14A9BA;
    --Transparent: rgba(12, 188, 207, 0.534);
    --mainGrey: #b1a9a9;
    --mainYellow: #F3CA40;
    --mainBlack: #0e0d0d;
}

body {
    background: ivory;
    color: #0e0d0d;
    font-size: medium;
}

.banner {
    position: relative;
    min-height: calc(100vh - 90px);
    background: linear-gradient(to right bottom, rgba(41, 184, 56, 0.75),
            rgba(57, 175, 69, 0.75)),
        url('https://images.unsplash.com/photo-1488229297570-58520851e868?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1498&q=80')center/cover fixed no-repeat;


}

/* text-box style */
.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

/* button style */
.about-btn {
    background-color: #4BB977;
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.4s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

.about-btn:hover {opacity: 1;
    color: #0e0d0d;
}